In [20]:
import pandas as pd

In [21]:
#https://archive.ics.uci.edu/ml/datasets/Electrical+Grid+Stability+Simulated+Data+#

In [22]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00471/Data_for_UCI_named.csv')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tau1    10000 non-null  float64
 1   tau2    10000 non-null  float64
 2   tau3    10000 non-null  float64
 3   tau4    10000 non-null  float64
 4   p1      10000 non-null  float64
 5   p2      10000 non-null  float64
 6   p3      10000 non-null  float64
 7   p4      10000 non-null  float64
 8   g1      10000 non-null  float64
 9   g2      10000 non-null  float64
 10  g3      10000 non-null  float64
 11  g4      10000 non-null  float64
 12  stab    10000 non-null  float64
 13  stabf   10000 non-null  object
dtypes: float64(13), object(1)
memory usage: 1.1+ MB

In [24]:
df.describe()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5.250000,5.250001,5.250004,5.249997,3.750000,-1.250000,-1.250000,-1.250000,0.525000,0.525000,0.525000,0.525000,0.015731
std,2.742548,2.742549,2.742549,2.742556,0.752160,0.433035,0.433035,0.433035,0.274256,0.274255,0.274255,0.274255,0.036919
min,0.500793,0.500141,0.500788,0.500473,1.582590,-1.999891,-1.999945,-1.999926,0.050009,0.050053,0.050054,0.050028,-0.080760
25%,2.874892,2.875140,2.875522,2.874950,3.218300,-1.624901,-1.625025,-1.624960,0.287521,0.287552,0.287514,0.287494,-0.015557
50%,5.250004,5.249981,5.249979,5.249734,3.751025,-1.249966,-1.249974,-1.250007,0.525009,0.525003,0.525015,0.525002,0.017142
75%,7.624690,7.624893,7.624948,7.624838,4.282420,-0.874977,-0.875043,-0.875065,0.762435,0.762490,0.762440,0.762433,0.044878
max,9.999469,9.999837,9.999450,9.999443,5.864418,-0.500108,-0.500072,-0.500025,0.999937,0.999944,0.999982,0.999930,0.109403

In [25]:
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [26]:
df.drop(columns=['stab'],inplace=True)
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,unstable

In [27]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['stabf'] = encoder.fit_transform(df['stabf'])
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,1
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,0
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,1
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,1
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,1

In [28]:
X = df.drop(columns=['stabf'])
X.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923

In [29]:
y = df['stabf']
y.head()

0    1
1    0
2    1
3    1
4    1
Name: stabf, dtype: int64

In [30]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [31]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X)
X_scalled = X.copy()
X_scalled  = pd.DataFrame(scaler.transform(X), columns=X.columns)
X_scalled.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
0,0.258801,0.271561,0.829616,0.976978,0.509244,0.811642,0.495075,0.184572,0.632098,0.852229,0.881531,0.955894
1,0.926793,0.463424,0.268117,0.091471,0.813957,0.039894,0.084809,0.496642,0.382588,0.855215,0.539078,0.770323
2,0.891799,0.878795,0.268005,0.075171,0.425652,0.528367,0.481864,0.719670,0.118990,0.754440,0.831000,0.062980
3,0.022700,0.754704,0.419623,0.193715,0.556118,0.648372,0.040670,0.668412,0.417084,0.975576,0.925677,0.329181
4,0.277230,0.748301,0.467747,0.985065,0.453830,0.582991,0.102655,0.963811,0.786481,0.426782,0.638883,0.811553

In [32]:
x_train_scalled = x_train.copy()
x_train_scalled  = pd.DataFrame(scaler.transform(x_train), columns=x_train.columns)
x_train_scalled.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
0,0.605895,0.214982,0.686826,0.944949,0.454782,0.516748,0.874552,0.255448,0.545528,0.598331,0.669193,0.642234
1,0.481097,0.525292,0.797470,0.027435,0.616162,0.479599,0.065178,0.641255,0.414248,0.049680,0.912596,0.083403
2,0.075724,0.874121,0.355155,0.835193,0.474432,0.640529,0.697645,0.252484,0.903588,0.919622,0.198780,0.642306
3,0.736693,0.652385,0.873580,0.171152,0.362461,0.278697,0.940452,0.691134,0.221930,0.893734,0.962913,0.579607
4,0.692014,0.088147,0.589553,0.764155,0.220544,0.718338,0.911640,0.685474,0.983833,0.701163,0.828352,0.121206

In [33]:
x_test_scalled = x_test.copy()
x_test_scalled  = pd.DataFrame(scaler.transform(x_test), columns=x_test.columns)
x_test_scalled.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
0,0.671365,0.380399,0.932340,0.821066,0.577835,0.068291,0.272932,0.954195,0.238500,0.837447,0.065675,0.813278
1,0.558188,0.607517,0.445405,0.349448,0.466385,0.193635,0.621676,0.798284,0.028968,0.385755,0.908271,0.854065
2,0.188048,0.408961,0.245239,0.504624,0.339393,0.531495,0.732018,0.712638,0.920287,0.084360,0.688298,0.014509
3,0.475764,0.179987,0.606958,0.008256,0.639912,0.026459,0.616975,0.474772,0.523093,0.016780,0.397183,0.804946
4,0.752247,0.914530,0.524646,0.993143,0.479150,0.496972,0.443090,0.637113,0.538482,0.075332,0.776127,0.263485

In [34]:
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state= 1)
x_train_smote, y_train_smote = smote.fit_resample(x_train_scalled,y_train)

In [35]:
from sklearn.metrics import recall_score, accuracy_score, precision_score, f1_score, confusion_matrix

In [36]:
#question 4
from xgboost import XGBClassifier
XGBclf = XGBClassifier(random_state=1)
XGBclf.fit(x_train, y_train)
XGBout = XGBclf.predict(x_test)
accuracy = accuracy_score(y_test,XGBout)
print( 'Accuracy:',(accuracy * 100))

Accuracy: 91.95

In [37]:
#question 6
from lightgbm import LGBMClassifier
LGBMclf = LGBMClassifier(random_state=1)
LGBMclf.fit(x_train, y_train)
LGBMout = LGBMclf.predict(x_test)
accuracy = accuracy_score(y_test,LGBMout)
print( 'Accuracy:',(accuracy * 100))

Accuracy: 93.75

In [38]:
# #question 8
# from sklearn.ensemble import ExtraTreesClassifier
# from sklearn.feature_selection import SelectFromModel
# simple_model = ExtraTreesClassifier()
# simple_model = simple_model.fit(X, y)
# selector = SelectFromModel(simple_model, prefit=True)
# selector.get_feature_names_out()

In [40]:
#question 10
# from sklearn.model_selection import RandomizedSearchCV
# from sklearn.ensemble import ExtraTreesClassifier
# ETclf = ExtraTreesClassifier(random_state=1)
# clf = RandomizedSearchCV(ETclf, random_state=1)
# search = clf.fit(x_train_scalled, y_train)
# search.best_params_

In [41]:
#question 17
from sklearn.ensemble import RandomForestClassifier
RFclf = RandomForestClassifier(random_state=1)
RFclf.fit(x_train_scalled, y_train)
RFout = RFclf.predict(x_test)
accuracy = accuracy_score(y_test,RFout)
print( 'Accuracy:',(accuracy * 100))

Accuracy: 64.60000000000001

In [42]:
#question19
from sklearn.ensemble import ExtraTreesClassifier
ETclf = ExtraTreesClassifier(random_state=1)
ETclf.fit(x_train_smote, y_train_smote)
ETout = ETclf.predict(x_test)

In [43]:
# from sklearn.ensemble import RandomForestClassifier
# RFclf = RandomForestClassifier(random_state=1)
# RFclf.fit(x_train_scalled, y_train)
# RFout = RFclf.predict(x_test)

In [44]:
# from sklearn.ensemble import ExtraTreesClassifier
# ETclf = ExtraTreesClassifier(random_state=1)
# ETclf.fit(x_train_smote, y_train_smote)
# ETout = ETclf.predict(x_test)

In [45]:
# from xgboost import XGBClassifier
# XGBclf = XGBClassifier(random_state=1)
# XGBclf.fit(x_train_smote, y_train_smote)
# XGBout = XGBclf.predict(x_test)

In [46]:
# from lightgbm import LGBMClassifier
# LGBMclf = LGBMClassifier(random_state=1)
# LGBMclf.fit(x_train, y_train)
# LGBMout = LGBMclf.predict(x_test)

In [47]:
# from sklearn.model_selection import cross_val_score 
# scores = cross_val_score(LGBMclf, x_train_smote, y_train_smote, cv= 5 , scoring= 'f1_macro' )
# scores

In [48]:
# y_pred = LGBMout
# pos_label = 0

In [49]:
# cnf_mat = confusion_matrix(y_test,y_pred,labels=[0,1]) 
# cnf_mat

In [50]:
# accuracy = accuracy_score(y_test,y_pred)
# print( 'Accuracy:',(accuracy * 100))

In [51]:
# precision = precision_score(y_test,y_pred, pos_label= pos_label)
# print( 'Precision: {}' .format(round(precision* 100 ), 2 ))

In [52]:
# recall = recall_score(y_test,y_pred, pos_label= pos_label) 
# print( 'Recall: {}' .format(round(recall* 100 ), 2 ))

In [53]:
# f1 = f1_score(y_test,y_pred, pos_label = pos_label) 
# print( 'F1: {}' .format(round(f1* 100 ), 2))

In [54]:
# from sklearn.model_selection import KFold
# kf = KFold(n_splits= 5, shuffle= True, random_state=1) 
# f1_scores = []
# for train_index, test_index in kf.split(X_scalled): 
#   x_train, x_test = X_scalled.iloc[train_index], X_scalled.iloc[test_index], 
#   y_train, y_test = y[train_index], y[test_index]
#   model = LGBMClassifier(random_state=1).fit(x_train, y_train) 
# f1_scores.append(f1_score(y_true=y_test, y_pred=model.predict(x_test), pos_label= 0 )* 100 ) 
# f1_scores

In [55]:
# from sklearn.model_selection import StratifiedKFold
# skf = StratifiedKFold(n_splits= 5, shuffle= True, random_state= 1)
# f1_scores = []
# for train_index, test_index in skf.split(X_scalled,y): 
#   x_train, x_test = X_scalled.iloc[train_index], X_scalled.iloc[test_index], 
#   y_train, y_test = y[train_index], y[test_index]
#   model = LGBMClassifier(random_state=1).fit(x_train, y_train) 
# f1_scores.append(f1_score(y_true=y_test, y_pred=model.predict(x_test), pos_label= 0 )* 100 ) 
# f1_scores

In [ ]:
# from sklearn.model_selection import LeaveOneOut 
# loo = LeaveOneOut() 
# scores = cross_val_score(LGBMClassifier(random_state=1), x_train_smote, y_train_smote, cv=loo, scoring= 'f1_macro' ) 
# average_score = scores.mean() * 100